{% extends "geotracker/base.html" %}
{% load static %}
{% block content %}
  <body>
    <style>
        * {
          -webkit-box-sizing:border-box;
          -moz-box-sizing:border-box;
          box-sizing:border-box;
        }
        .sidebar {
          position:absolute;
          width:33.333%;
          top:0;
          height:100vh;
          overflow:hidden;
          border-right:1px solid rgba(0,0,0,0.25);
        }
        .pad2 {
          padding:20px;
        }
        .map {
          position:fixed;
          top:5rem;
          bottom:0;
          left:38%;
          width:66.6666%;
        }
        h1 {
          font-size:22px;
          margin:0;
          font-weight:400;
          line-height: 20px;
          padding: 20px 2px;
        }
        a {
          color:#404040;
          text-decoration:none;
        }
        a:hover {
          color:#101010;
        }
        .heading {
          background:#fff;
          border-bottom:1px solid #eee;
          min-height:60px;
          line-height:60px;
          padding:0 10px;
          background-color: #A4F7AC;
          color: #fff;
        }
        .listings {
          height:100%;
          overflow:auto;
          padding-bottom:60px;
        }
        .listings .item {
          display:block;
          border-bottom:1px solid #eee;
          padding:10px;
          text-decoration:none;
        }
        .listings .item:last-child { border-bottom:none; }
        .listings .item .title {
          display:block;
          color:#A4F7AC;
          font-weight:700;
        }
        .listings .item .title small { font-weight:400; }
        .listings .item.active .title,
        .listings .item .title:hover { color:#8cc63f; }
        .listings .item.active {
          background-color:#f8f8f8;
        }
        ::-webkit-scrollbar {
          width:3px;
          height:3px;
          border-left:0;
          background:rgba(0,0,0,0.1);
        }
        ::-webkit-scrollbar-track {
          background:none;
        }
        ::-webkit-scrollbar-thumb {
          background:#00853e;
          border-radius:0;
        }
        .marker {
          height: 50px;
          width: 50px;
          border-radius: 25px;
          background-size: 'cover';
          background-image: url("/media/profile_pics/{{ user.profile.image }}");
          background-repeat: 'no-repeat';
        }
        .clearfix { display:block; }
        .clearfix:after {
          content:'.';
          display:block;
          height:0;
          clear:both;
          visibility:hidden;
        }
        /* Marker tweaks */
        .mapboxgl-popup {
          padding-bottom: 50px;
        }
        .mapboxgl-popup-close-button {
          display:none;
        }
        .mapboxgl-popup-content {
          font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
          padding:0;
          width:180px;
        }
        .mapboxgl-popup-content-wrapper {
          padding:1%;
        }
        .mapboxgl-popup-content h3 {
          background:#91c949;
          color:#fff;
          margin:0;
          display:block;
          padding:10px;
          border-radius:3px 3px 0 0;
          font-weight:700;
          margin-top:-15px;
        }
        .mapboxgl-popup-content h4 {
          margin:0;
          display:block;
          padding: 10px 10px 10px 10px;
          font-weight:400;
        }
        .mapboxgl-popup-content div {
          padding:10px;
        }
        .mapboxgl-container .leaflet-marker-icon {
          cursor:pointer;
        }
        .mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
          margin-top: 15px;
        }
        .mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
          border-bottom-color: #91c949;
        }
      </style>
      <form id="myform" name="myform" method="POST">
        {% csrf_token %}
      <input type="hidden" id="location" name="location"/>
      </form>

      <div class='sidebar'>
     <div class='heading'>
       <h1>Your Friends are Waiting...</h1>
     </div>
   <div id='listings' class='listings'></div>
   </div>
   <div id='map' class='map' width='100%'></div>

   <script src='https://unpkg.com/es6-promise@4.2.4/dist/es6-promise.auto.min.js'></script>
   <script src="https://unpkg.com/@mapbox/mapbox-sdk/umd/mapbox-sdk.min.js"></script>
    <script>

  // This will let you use the .remove() function later on
  if (!('remove' in Element.prototype)) {
    Element.prototype.remove = function() {
      if (this.parentNode) {
          this.parentNode.removeChild(this);
      }
    };
  }

  mapboxgl.accessToken = 'pk.eyJ1Ijoic3RldmU3IiwiYSI6ImNqcWd5NG5rbjVpbmQzeGxnYzE4eXl1Y3IifQ.aXA5Gh03KbC5ECIfv5XY0A';

  var mapboxClient = mapboxSdk({ accessToken: mapboxgl.accessToken });

  // This adds the map
  var map = new mapboxgl.Map({
    // container id specified in the HTML
    container: 'map',
    // style URL
    style: 'mapbox://styles/mapbox/light-v9',
    // initial position in [long, lat] format
    center: [-77.034084142948, 38.909671288923],
    // initial zoom
    zoom: 13,
    scrollZoom: false
  });

        /*
    	   *  Gets array of json objects (each object is a string)
    	   *  parses each string into a json object
    	   */
    	  var concerts_string = JSON.parse(JSON.stringify({{ concerts|safe }}));
	      var concerts_json = [];

	  for (var i = 0; i < concerts_string.length; i++)
	  {
	    concerts_json.push(JSON.parse(concerts_string[i]))
	  }

    	  var concerts = {
          "type": "FeatureCollection",
          "features": []
        }

    	  for (var j = 0; j < concerts_json.length; j++)
    	  {
          mapboxClient.geocoding.forwardGeocode({
              query: concerts_json[j].venue + " " + concerts_json[j].city + " " + concerts_json[j].state,
              autocomplete: false,
              limit: 1
          })
              .send()
              .then(function (response) {

                  if (response && response.body && response.body.features && response.body.features.length) {
                      var feature = response.body.features[0];

                      var json = concerts_json[j];

                      var new_concert = {
                        "type": "Feature",
                        "geometry": {
                          "type": "Point",
                          "coordinates": [feature.center[0], feature.center[1]]
                        },
                        "properties": {
                          "name": feature['place_name'].substring(0, feature['place_name'].indexOf(",")),
                          "address": feature.properties.address,
                          "city": feature.properties.city,
                          "country": "United States",
                          "state": feature.properties.state
                        }
                      };

                	    concerts.features.push(new_concert);
                  }


          });

    	  }


    // This adds the data to the map
    map.on('load', function (e) {
      // This is where your '.addLayer()' used to be, instead add only the source without styling a layer
      map.addSource("places", {
        "type": "geojson",
        "data": concerts
      });
      // Initialize the list
      buildLocationList(concerts);

    });

    // This is where your interactions with the symbol layer used to be
    // Now you have interactions with DOM markers instead
    concerts.features.forEach(function(marker, i) {
      // Create an img element for the marker
      var el = document.createElement('div');
      el.id = "marker-" + i;
      el.className = 'marker';
      // Add markers to the map at all points
      new mapboxgl.Marker(el, {offset: [0, -23]})
          .setLngLat(marker.geometry.coordinates)
          .addTo(map);

      el.addEventListener('click', function(e){
          // 1. Fly to the point
          flyToStore(marker);

          // 2. Close all other popups and display popup for clicked store
          createPopUp(marker);

          // 3. Highlight listing in sidebar (and remove highlight for all other listings)
          var activeItem = document.getElementsByClassName('active');

          e.stopPropagation();
          if (activeItem[0]) {
             activeItem[0].classList.remove('active');
          }

          var listing = document.getElementById('listing-' + i);
          listing.classList.add('active');

      });
    });


    function flyToStore(currentFeature) {
      map.flyTo({
          center: currentFeature.geometry.coordinates,
          zoom: 15
        });
    }

    function createPopUp(currentFeature) {
      var popUps = document.getElementsByClassName('mapboxgl-popup');
      if (popUps[0]) popUps[0].remove();


      var popup = new mapboxgl.Popup({closeOnClick: false})
            .setLngLat(currentFeature.geometry.coordinates)
            .setHTML('<h3>' + currentFeature.properties.name + '</h3>' +
              '<h4>' + currentFeature.properties.address + '</h4>')
            .addTo(map);
    }


    function buildLocationList(data) {
      for (i = 0; i < data.features.length; i++) {
        var currentFeature = data.features[i];
        var prop = currentFeature.properties;

        var listings = document.getElementById('listings');
        var listing = listings.appendChild(document.createElement('div'));
        listing.className = 'item';
        listing.id = "listing-" + i;

        var link = listing.appendChild(document.createElement('a'));
        link.href = '#';
        link.className = 'title';
        link.dataPosition = i;
        link.innerHTML = prop.name;

        var details = listing.appendChild(document.createElement('div'));
        details.innerHTML = prop.city + ' &middot; ' + prop.state;



        link.addEventListener('click', function(e){
          // Update the currentFeature to the store associated with the clicked link
          var clickedListing = data.features[this.dataPosition];

          // 1. Fly to the point
          flyToStore(clickedListing);

          // 2. Close all other popups and display popup for clicked store
          createPopUp(clickedListing);

          // 3. Highlight listing in sidebar (and remove highlight for all other listings)
          var activeItem = document.getElementsByClassName('active');

          if (activeItem[0]) {
             activeItem[0].classList.remove('active');
          }
          this.parentNode.classList.add('active');

        });
      }
    }
    </script>

  </body>
{% endblock %}
