{% extends "geotracker/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST" id="myform">
          {% csrf_token %}
            <fieldset class="form-group" enctype="multipart/form-data">
                <legend class="border-bottom mb-4">Share Concert</legend>
                Artist:<br>
                <input type="text" name="artist" class="form-control">
                <br>
                <br>
                Venue Name:<br>
                <input type="text" name="venue" class="form-control">
                <br>
                <br>
                City:<br>
                <input type="text" name="city" class="form-control">
                <br>
                <br>
                State:<br>
                <select name="state" form="myform">
	                 <option value="AL">AL</option>
	                 <option value="AK">AK</option>
	                 <option value="AR">AR</option>
	                 <option value="AZ">AZ</option>
	                 <option value="CA">CA</option>
	                 <option value="CO">CO</option>
	                 <option value="CT">CT</option>
	                 <option value="DC">DC</option>
	                 <option value="DE">DE</option>
	                 <option value="FL">FL</option>
	                 <option value="GA">GA</option>
	                 <option value="HI">HI</option>
	                 <option value="IA">IA</option>
	                 <option value="ID">ID</option>
	                 <option value="IL">IL</option>
	                 <option value="IN">IN</option>
	                 <option value="KS">KS</option>
	                 <option value="KY">KY</option>
	                 <option value="LA">LA</option>
	                 <option value="MA">MA</option>
	                 <option value="MD">MD</option>
	                 <option value="ME">ME</option>
	                 <option value="MI">MI</option>
	                 <option value="MN">MN</option>
	                 <option value="MO">MO</option>
	                 <option value="MS">MS</option>
	                 <option value="MT">MT</option>
	                 <option value="NC">NC</option>
	                 <option value="NE">NE</option>
	                 <option value="NH">NH</option>
	                 <option value="NJ">NJ</option>
	                 <option value="NM">NM</option>
	                 <option value="NV">NV</option>
	                 <option value="NY">NY</option>
	                 <option value="ND">ND</option>
	                 <option value="OH">OH</option>
	                 <option value="OK">OK</option>
	                 <option value="OR">OR</option>
	                 <option value="PA">PA</option>
	                 <option value="RI">RI</option>
	                 <option value="SC">SC</option>
	                 <option value="SD">SD</option>
	                 <option value="TN">TN</option>
	                 <option value="TX">TX</option>
	                 <option value="UT">UT</option>
	                 <option value="VT">VT</option>
	                 <option value="VA">VA</option>
	                 <option value="WA">WA</option>
	                 <option value="WI">WI</option>
	                 <option value="WV">WV</option>
	                 <option value="WY">WY</option>
                 </select>
                <br>
                <br>
                Start Time:<br>
                <input type="time" name="start_time" class="form-control">
                <br>
                <br>
                End Time:<br>
                <input type="time" name="end_time" class="form-control">
                <br>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Share</button>
            </div>
        </form>
    </div>
{% endblock content %}
